/*body{
  height: 100%;
  background: #F58220;  
}

.panel.panel-default{
  border: none !important;
  box-shadow: 1px 1px 10px 1px;
}
.vertical-offset-100{
    padding-top:15%;
}
*/
.avatar{
  	background: url('../images/logo.png');
	width: 200px;
	height: 80px;
	margin-top: -8px;
	background-size: 40px;
	background-repeat: no-repeat;
}

.panel-heading{
   /*background-image: none !important;*/
   background-color: #F58220 !important;
   /*background: url('../images/footer-bg.png') !important;*/
   /*height: 50px !important;*/
}

.panel-heading-daskboard{
  background: url('../images/footer-bg.png') !important;
}

.col-md-offset-3 {
  /*margin-left: 30% !important;*/
}

/*fieldset {
padding: 2% 0 0 0;
margin: 0;
border: 0;
min-width: 0;
width: 95%;
margin-left: 2.5%;
}*/
/*.panel-default{
  border-color: #19699d !important;
}*/
/*
.btn-success{
   background-color: #19699d !important;
   background-image: none !important;
   border-color: transparent !important;
   border-color: transparent !important;
}*/

/*label{
  font-weight: normal;
}*/

.clear{
  clear: both;
}

#loading{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    background-image: url("../../resources/images/ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: 50%;
    /*background-size: 50px 50px;*/
    opacity: .9;
    z-index: 9999999;
    /*display: none;*/
}

.box-create-article{

}

.btn-create-article, .btn-save-top{
  margin-bottom: 20px;
}

.button-add-article{
  margin-top: 10px;
  margin-left: 15px;
}

.title-article{
  line-height: 35px;
}

.text-center{
  text-align: center;
}

tr.cursor_pointer{
  cursor: pointer !important;
}

.btn-view-all{
  padding: 15px;
}