@font-face {
    font-family: myCustomFont;
    src: url("../fonts/uvf-slimtony.ttf");
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
}
.loading {
    background-color: #ffffff;
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
    background-position: 49%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999999;
}
.pan-top {
    width: 100%;
    height: auto;
    background-image: url("../images/top-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 130%;
}
.pan-top .img-logo {
    height: 90px;
    margin-top: 40px
}
.pan-top .panel-left {
    height: 150px;
    padding-top: 30px;
    padding-left: 35px;
    color: #ffffff;
    background-image: url("../images/panel-left-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 105px;
}
.pan-top .panel-left h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.pan-top .panel-left h3 {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}
.pan-top a, .pan-top a:active, .pan-top a:visited, .pan-footer a, .pan-footer a:active, .pan-footer a:visited {
    color: #ffffff;
    text-decoration: none;
}
.pan-top a:hover, .pan-footer a:hover {
    text-decoration: underline;
}
.pan-top .panel-right {
    height: 150px;
    padding-top: 40px;
    padding-left: 0px;
    text-align: center;
    color: #ffffff;
    background-image: url("../images/panel-right-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 105px;
}
.pan-top .panel-right h4 {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 21px;
}

.pan-footer {
    position: relative;
    height: 200px;
    color: #ffffff;
    background-image: url("../images/footer-bg.png");
    background-repeat: repeat-y;
    background-size: 100% 10px;
}

.pan-footer h4 {
    margin-top: 20px;
}
.pan-footer .row h4 {
    margin-top: 0px;
}

.pan-footer img {
    position: absolute;
    top: 65px;
    left: 25px;
    width: 100px;
    border-radius: 10px;
}

.pan-body {
    min-height: 400px;
    position: relative;
    overflow: hidden;
}

.font-custom {
    font-family: myCustomFont;
}

@media screen and (max-width: 1199px) {
    .pan-top .panel-right h4 {
        margin-top: 0px;
        font-size: 20px;
    }
    .pan-top .panel-left h4 {
        font-size: 16px;
    }
}

@media screen and (max-width: 991px) {
    .pan-top .panel-left {
        padding-left: 25px;
        padding-top: 35px;
    }
    .pan-top .panel-left h4 {
        font-size: 13px;
    }
    .pan-top .panel-left h3 {
        font-size: 15px;
    }
    .pan-top .panel-right h4 {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 18px;
    }

    .pan-footer {
        /*height: 280px;*/
        height: 100%;
    }
    .pan-footer img {
        position: relative;
        top: 0px;
        left: 0px;
        margin: auto;
        width: 150px;
        border-radius: 10px;
    }
}

.fpt-menu-top{
    padding: 0px !important;
    background-color: #f47f20;
}

.fpt-menu-top .navbar{
    margin-bottom: 0px !important;
    border: 0px !important;
    border-radius: 0px;
}

.fpt-menu-top .navbar-default .navbar-collapse{
    background-color: #f47f20 !important;
}

.fpt-menu-top .navbar-default .navbar-nav>li{
    background-color: #f47f20;
    text-align: center;
    font-weight: bold;
}
.fpt-menu-top .navbar-default .navbar-nav>li:hover {
    background-color: orange;
}
.fpt-menu-top .navbar-default .navbar-nav>li>a{
    text-decoration: none;
    color: #ffffff;
}

.fpt-menu-top .navbar-default .navbar-toggle{
    border-color: transparent !important; 
}

.fpt-menu-top .navbar-default .navbar-toggle:hover{
   background-color: transparent !important; 
}

.fpt-menu-top .navbar-default .navbar-toggle.icon-orange .glyphicon  {
  color: #f47f20;
}

.fpt-menu-top .navbar-default .navbar-toggle.icon-blue .glyphicon  {
    color: #0A4CAA;
}

.fpt-menu-top .navbar-default .navbar-toggle.icon-green .glyphicon  {
    color: #4CB645;
}

.fpt-menu-top .btn-navbar-collapse-top  {
    margin-right: 40%;
}

@media screen and (max-width: 500px) {
    .fpt-menu-top .btn-navbar-collapse-top  {
        margin-right: 35%;
    }
}

@media screen and (max-width: 400px) {
    .fpt-menu-top .btn-navbar-collapse-top  {
        margin-right: 30%;
    }
}
.fpt-menu-top .btn-navbar-collapse-right  {
    float: right;  
}   


.fpt-menu-top .btn-navbar-collapse-left  {
    float: left;
}


 
/*menu left*/
/*

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

*/


.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear{
    clear: both;
}

.container.pan-body{
    padding: 0px !important;
    /*margin: 0px !important;*/
}

.navbar-menu-left, .navbar-menu-left>ul{
    padding: 0px !important;
    margin: 0px !important;
}
/*.navbar-menu-ri>ul>li>a{
    margin-left: 20px;
}*/
.navbar-menu-right, .navbar-menu-right>ul{
    padding: 0px !important;
    margin: 0px !important;
}

/*.navbar-menu-right>ul>li>a{

}*/

.navbar-menu-left .mn-parent, .navbar-menu-right .mn-parent{
    background-color: #f47f20;    
}

.navbar-menu-left .mn-parent a:hover,
.navbar-menu-right .mn-parent a:hover{
    background: none !important;    
}

.navbar-menu-left li a{
    color: #9c9c9c;  
}

.navbar-menu-left li a:hover,
.navbar-menu-right li a:hover{
    background: orange !important;  
    color: #FFFFFF;  
}

.navbar-menu-left .mn-parent a, .navbar-menu-right .mn-parent a {
    color: #FFFFFF;
    font-weight: bold;
}

.navbar-menu-left ul>li{
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    max-width: 200px;
}

.navbar-menu-left ul>li a span.glyphicon{
    float: right;
    font-size: 10px;
    margin-left: 5px;
    line-height: 17px;
}
.navbar-menu-right ul>li{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    max-width: 200px;
}


.navbar-menu-right ul>li.mn-child{
    border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 767px) {
    .pan-top {
        background-image: none;
    }
    .pan-top .panel-right {
        height: 200px;
        padding-top: 20px;
        background-size: 100% 205px;
    }
    .pan-top .panel-right h4 {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .navbar-menu-left ul>li, .navbar-menu-right ul>li{
        max-width: 100%;
    }
}

.home-page-content{
    padding-right: 0px !important; 
    position: static;      
    margin-left: -5px !important;  
}

.home-page-content .ftp-content{
    border: 1px solid #ddd;
    padding: 0px; 
     /*background: orange;       */
}

.detail-page-content{
    
    position: static;
    margin-left: -5px;    
}

.detail-page-content .ftp-content{
    border: 1px solid #ddd;
    padding-left: 5px;  
}

.no-margin{
    margin: 0px !important;
}

.no-padding{
    padding: 0px !important;
}

.box-search{
    padding: 0px !important; 
    padding-top: 2px !important;
    padding-bottom: 2px !important; 
}

.box-search input, .box-search button{
    border-radius: 0px !important;
}



.box-search-result {
    margin: 0;
    padding: 0;
    list-style: none;
}

.box-search-result li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.box-search-result li.left .serch-body {
    margin-left: 60px;
}

.box-search-result li.right .serch-body {
    margin-right: 60px;
}

.box-search-result li .serch-body p {
    margin: 0;
}

.box-search-result .glyphicon {
    margin-right: 5px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
}
.carousel-box{
    padding: 0px !important;
}

#myCarousel{
    max-height: 400px;
    overflow: hidden;
}

.article-pannel-item .panel-heading{
    background-color: #f47f20;
    margin-top: 10px;
}

.article-pannel-item .panel-heading strong{
    color: #ffffff;
}
